<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    id="WebApp_ID" version="4.0">
    <display-name>BookShop</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AddNewBookServlet</servlet-name>
        <servlet-class>com.bookshop.servlets.AddNewBookServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DisplayAllBooksServlet</servlet-name>
        <servlet-class>com.bookshop.servlets.DisplayAllBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindBooksServlet</servlet-name>
        <servlet-class>com.bookshop.servlets.FindBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>com.bookshop.servlets.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>com.bookshop.servlets.ViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainPageServlet</servlet-name>
        <servlet-class>com.bookshop.servlets.MainPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayNovelServlet</servlet-name>
        <servlet-class>com.bookshop.servlets.DisplayNovelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayKidsBookServlet</servlet-name>
        <servlet-class>com.bookshop.servlets.DisplayKidsBookServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>DeleteFromCartServlet</servlet-name>
        <servlet-class>com.bookshop.servlets.DeleteFromCartServlet</servlet-class>
    </servlet>
    
    <servlet>
    	<servlet-name>AdminLoginServlet</servlet-name>
    	<servlet-class>com.bookshop.servlets.AdminLoginServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AddNewBookServlet</servlet-name>
        <url-pattern>/add-new-book.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DisplayAllBooksServlet</servlet-name>
        <url-pattern>/display-all-books.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindBooksServlet</servlet-name>
        <url-pattern>/find-books.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/addToCart.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/viewCart.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainPageServlet</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayNovelServlet</servlet-name>
        <url-pattern>/novels.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayKidsBookServlet</servlet-name>
        <url-pattern>/kids.html</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>DeleteFromCartServlet</servlet-name>
        <url-pattern>/deleteFromCart.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AdminLoginServlet</servlet-name>
    	<url-pattern>/adminLogin.html</url-pattern>
    </servlet-mapping>
</web-app>